html {
  font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 200;
  padding: 0 12px;
  font-size: 0.9rem;
}

sup {
  font-size: 8px;
}

h1 {
  margin: 0 12px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

h3 {
  margin: 0 0.5em;
  font-size: 14px;
  font-weight: 100;
}

header {
    grid-area: header;
}

.top-banner {
  height: 80px;
  background-color: rgba(98, 113, 229, 0.791);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-width: 100%;
}

.notification-bell {
  height: 25px;
  width: 25px;
  margin: 0;
}

.student-profile {
  border-radius: 50%;
  height: 45px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.line-break {
  border-right: 1px solid white;
  height: 40px;
  margin: 0 12px;
}

.nav-container {
  grid-area: nav-container;
  height: 60px;
  background-color: rgba(9, 20, 104, 0.791);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.nav-container svg {
    height: 60%;
    margin: 5px;
    padding: 5px;
    fill: white;

}

.section-container {
  grid-area: section-container;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

h2 {
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 300;
  font-size: 16px;
}

.section-break {
  grid-area: section-break;
  background-color: rgb(204, 201, 201);
  height: 100%;
  width: 100%;
  border-left: 1px gray solid;
  border-bottom: 1px gray solid;
}

.notification-circle {
  background-color: rgb(45, 238, 45);
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-bottom: 25px;
}

.alert-popup {
  grid-area: alert-popup;
  background-color:rgba(98, 113, 229, 0.791);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 12px;
  border-radius: 4px;
}

.traffic {
    grid-area: traffic;
}

.mobile-users {
    grid-area: mobile-users;
}

.daily-traffic {
    grid-area: daily-traffic;
}

.social-stats {
    grid-area: social-stats;
}

.new-members {
    grid-area: new-members;
}

.recent-activity {
    grid-area: recent-activity;
}

.message-user {
        grid-area: message-user;
}

.settings-section {
        grid-area: settings;
}


@media screen and (min-width:768px) {

.grid-container {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "nav-container section-container"
        "nav-container alert-popup"
        "nav-container traffic"
        "nav-container daily-traffic"
        "nav-container mobile-users"
        "nav-container social-stats"
        "nav-container new-members"
        "nav-container recent-activity"
        "nav-container message-user"
        "nav-container settings"
        ;
    }

    .nav-container {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

     .nav-container svg {
        height: 7%;
        margin-top: 16px;
    }
}
