@mixin container($areaname) {
    grid-area: $areaname;
    border-bottom: $border;
}

@mixin button-primary {
        background-color: $color-primary;
        color: white;
        border-radius: 4px;
        height: 44px;
        padding: 6px;
        border: 0;
}

@mixin button-cancel {
        padding: 6px;
        border-radius: 4px;
        height: 44px;
        background-color: rgba(113, 113, 115, 0.791);
        color: white;
        border: 0;
}

@mixin button-save {
    padding: 6px;
    border-radius: 4px;
    height: 44px;
    background-color: $color-primary;
    color: white;
    border: 0;
}

@mixin social-wrapper {

        position: relative;
        background: $color-primary;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 12px;
    
}

@mixin social-card {
        display: flex;
        background-color: $color-background;
        justify-content: flex-start;
        margin: 12px;
        padding: 12px 12px;
        align-items: center;
        border: $border;
        border-radius: 6px;
}

@mixin social-icon {
    height: 24px;
        width: 24px;
        fill: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
}