// type

$font-primary: "Open Sans", sans-serif;

// colors

$color-primary: rgba(98, 113, 229, 0.791); 
$color-secondary: rgba(9, 20, 104, 0.791);
$color-background: rgb(251, 251, 251);
$green: rgb(45, 238, 45);

//border

$border: 1px rgb(213, 209, 209) solid;



